@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --font-family: Arial, sans-serif;
    --color: white;
    --font-weight: bold;
  }

* {
    box-sizing: border-box;
} 


body{
    width: 100%;
    background-image: url("../img/luna.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif; 
    margin: 0;
}
 
 header{
    padding: 20px;
    background-color: lightgray;
    }

    header .heading {
        width: 100%;
    }

    header nav a {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    #brand {
        padding-left: 1%;
        font-weight: var(--font-weight);
        font-size:2vw;
        font-family: cursive;
        text-transform: uppercase;
        text-align: left;
        text-shadow: 5px 5px 2px gray;
        color:darkorange;
    }
    
    .icon img {
        width: 30px;
    }

    .icon {
        display: flex;
    }

    .nav-link {
        font-weight: bold;
}

.clock-container {
    display: flex;
    flex-direction: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: var(--font-weight);
    color:black;
    margin: 15%;
}

.time p{
    padding-bottom: 0;
    margin-bottom: 0;
}

.time span {
    padding-top: 0;
    font-size: 2vw; 
    margin-top: 0;
}
.time {
    background-color:rgba(248, 209, 150, 0.562);
    border: 1px rgb(151, 138, 138) solid;
    width: 33%;
    margin: auto 1%;
    padding: 0;
}

.text p {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    text-align: center;
    min-height: 20px;
    min-width: auto;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    margin: 3% 1% 1% 1%;
}

#medium-text {
    font-size: 2vw;
    font-weight: bold; 
    text-shadow: 3px 3px 1px gray;
    }

#large-text {
    font-size: 3vw;
    font-weight: bold; 
    text-shadow: 3px 3px 1px gray;
    }

#small-text {
    font-size: 1.5vw;
    font-weight: var(--font-weight);
    text-shadow: 3px 3px 1px gray;
}

#buttons {
    display: flex;
    flex-direction: center;
    justify-content: center;
    font-weight: normal; 
    text-align: center;
    text-decoration: none
}
#button-left {
    border: black 2px solid;
    margin-right: 5%;
    padding: 14px 40px;
    color: black;
    }

#button-left:hover{
    color: black;
    background-color: white;
}
#button-right {
    padding: 14px 40px;
    margin-left: 5%;
    background-color: blue;
    color: var(--color);
}
#button-right:hover{
    color: var(--color);
    background-color: black;
}

#bottom {
    margin-top: 15%;
    margin-bottom: 15%;
    }

#bottom p {
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px 20px 20px;
 }

 a:link {
    text-decoration: none;
    }

#service-text {
    font-size: 5vw;
    font-weight: var(--font-weight);
    text-shadow: 0 0 20px #fefcc9,
                     10px -10px 30px #feec85,
                     -20px -20px 40px #ffae34,
                     20px -30px 35px #ec760c,
                     -20px -40px 40px #cd4606,
                     0 -50px 65px #973716,
                     10px -70px 70px #451b0e;
}

#provide-text {
    font-size: 2.5vw;
    font-weight: var(--font-weight);
    text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -30px 35px #ec760c,
        -20px -40px 40px #cd4606,
        0 -50px 65px #973716,
        10px -70px 70px #451b0e;
}

h5 {
    font-size: 1.75vw;
    text-align: center;
    font-weight: var(--font-weight) ;
}

.card-text {
    font-size: 1.25vw;
    text-align: center; 
}
.mycard {
    background-color: rgba(248, 209, 150, 0.562);
}

.row {
    margin: 5% 5%;
 } 

 #footer {
    background-color:darkgray;
    background-repeat: no-repeat;
    background-position: center-center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 20px 20px 20px;
    width: 50% 50%;
}

#connect-with-us {
    margin-left: 5%;
}

#contacts-text {
    font-size: 2.5vw;
    font-weight: bold;
 }

#p-text {
    font-size: 1.75vw; 
} 

#address-text,  #hours-text, #p-contacts {
    font-size: 2vw;
    font-weight: bolder;
}

form {
    background-color: gray;
    margin:auto 5%;
    padding: 5%;
}
form label {
    font-size: 1vw;
   }
.form-text {
    font-size: 1vw;
    color:lightgrey;
  }

  .btn-primary {
    background-color: blue;
    opacity: 1;
    font-size: 1vw;
    padding: 10px 24px;
  }

  @media (max-width: 991px) {
    
    #brand {
        font-size:3.5vw;
        text-shadow: 3px 3px 1px gray;
    }

    .clock-container {
        font-size: 2vw;
        font-weight: var(--font-weight);
        color:black;
        margin: 15%;
    }

    #medium-text {
        font-size: 3vw;
        text-shadow: 3px 3px 2px rgb(221, 203, 197);
        }
    
    #large-text {
        font-size: 4vw;
        text-shadow: 3px 3px 2px rgb(221, 203, 197);
        }

    #small-text {
        font-size: 2.75vw;
        text-shadow: 2px 2px 1px rgb(221, 203, 197);
    }

    #button-left {
        margin-right: 5%;
        padding: 10px 30px;
        background-color: white;
    }
    
    #button-right {
        padding: 10px 30px;
        margin-left: 5%;
    }

    #service-text {
        font-size: 6vw;
        text-shadow: 3px 3px 2px rgb(221, 203, 197);
    }
    
    #provide-text {
        font-size: 3.5vw;
         text-shadow: 3px 3px 2px rgb(221, 203, 197);
    }
    
    h5 {
        font-size: 2vw;
    }
    
    .card-text {
        font-size: 1.5vw;
    }

    #contacts-text {
        font-size: 2.5vw;
     }
    
    #p-text {
        font-size: 1.85vw; 
    } 
    
    #address-text,  #hours-text, #p-contacts {
        font-size: 2vw;
    }
    
    form label, .form-text, .btn-primary {
        font-size: 1.5vw;
       }
}

@media (min-width: 768px) {
    
    #brand {
        font-size:3vw;
        text-shadow: 2px 2px 1px gray;
    }

    #medium-text {
        font-size: 3vw;
        text-shadow: 2px 2px 1px gray;

    }
    
    #large-text {
        font-size: 4vw;
        text-shadow: 2px 2px 1px gray;

    }
    
    #small-text {
        font-size: 2vw;
        text-shadow: 2px 2px 1px gray;
    }

    #button-left {
        font-size: 2vw;
        border: black 1px solid;
        margin-right: 3%;
        padding: 5px 10px;
    }
    
    #button-right {
        font-size: 2vw;
        border: black 1px solid;
        padding: 5px 10px;
        margin-left: 3%;
    }

   }
@media (max-width: 768px) {
    
    body{
    width: 100%;
    }

    #brand {
        font-size:4vw;
        text-shadow: 2px 2px 1px gray;
    }

    h5 {
        font-size: 3vw;
    }
    
    .card-text {
        font-size: 2vw;
    }

    #medium-text {
        font-size: 4vw;
        text-shadow: 2px 2px 1px gray;

    }
    
    #large-text {
        font-size: 6vw;
        text-shadow: 2px 2px 1px gray;

    }
    
    #small-text {
        font-size: 3vw;
        text-shadow: 2px 2px 1px gray;
    }

    #button-left {
        font-size: 3vw;
        border: black 1px solid;
        margin-right: 3%;
        padding: 5px 10px;
    }
    
    #button-right {
        font-size: 3vw;
        border: black 1px solid;
        padding: 5px 10px;
        margin-left: 3%;
    }
    #service-text {
        font-size: 7vw;
        text-shadow: 4px 4px 0px gray;
        
    }

    #provide-text {
        font-size: 4.5vw;
        text-shadow: 4px 4px 0px gray;
        
    }

    #contacts-text {
        font-size: 3.5vw;
     }
    
    #p-text {
        font-size:2vw; 
    } 
    
    #address p, #hours p, #contacts p, #contacts a, form label, .form-text, .btn-primary {
        font-size: 2vw;
    }
}

@media (max-width: 500px) {

    header nav a {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    
    #brand {
        font-size:5vw;
        text-shadow: 2px 2px 1px gray;
    }
    .clock-container {
        font-size: 4vw;
    }

    .time span {
       font-size: 2.5vw; 
    }

  #medium-text {
        font-size: 4vw;
        text-shadow: 2px 2px 1px gray;
    }
    
    #large-text {
        font-size: 6vw;
        text-shadow: 2px 2px 1px gray;

    }
    
    #small-text {
        font-size: 3.5vw;
        text-shadow: 2px 2px 1px gray;
    }

    #button-left {
        font-size: 3vw;
        border: black 1px solid;
        margin-right: 3%;
        padding: 5px 10px;
    }
    
    #button-right {
        font-size: 3vw;
        border: black 1px solid;
        padding: 5px 10px;
        margin-left: 3%;
    }
    #service-text {
        font-size: 7vw;
        text-shadow: 2px 2px 1px gray;
    }

    #provide-text {
        font-size: 4.5vw;
        text-shadow: 2px 2px 1px gray;
    }

    h5 {
        font-size: 4vw;
    }
    
    .card-text {
        font-size: 3vw;
    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #contacts-text {
        font-size: 3.5vw;
     }
    
    #p-text {
        font-size:3vw; 
    } 
    
    #address p, #hours p, #contacts p, #contacts a, form label, .form-text, .btn-primary {
        font-size: 3vw;
    }
   
}

